<section class="auth-container">
    <div class="auth-card">
        <h2 class="auth-title">Welcome Back</h2>
        <p class="auth-subtitle">Log in to continue</p>

        <div class="auth-form">
            <label>Email</label>
            <input
                [(ngModel)]="email"
                placeholder="Enter your email"
                type="email"
                [disabled]="loading"
            />

            <label>Password</label>
            <input
                [(ngModel)]="password"
                placeholder="Enter your password"
                type="password"
                [disabled]="loading"
            />

            <button class="auth-btn" (click)="login()" [disabled]="loading">
                @if (loading) {
                <span class="spinner"></span>
                Logging in... } @else { Login }
            </button>

            @if (loading) {
            <div class="loading-message">
                <div class="loading-spinner"></div>
                <p>Logging you in... please wait</p>
            </div>
            } @if (error) {
            <p class="error">{{ error }}</p>
            }
        </div>

        <p class="auth-footer">
            Don’t have an account?
            <a routerLink="/register">Register here</a>
        </p>
    </div>
</section>
