:host {
  --content-padding: 10px;
}

.main-div {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  display: block;
  height: 5%;
  padding: 5px;
}
.content {
  height: 95%;
  width: 100%;
}
