.results {
    display: grid;
    column-gap: 14px;
    row-gap: 14px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
    margin-top: 50px;
    justify-content: space-around;
}

input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
}

button {
    padding: 6px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

@media (min-width: 500px) and (max-width: 768px) {
    .results {
        grid-template-columns: repeat(2, 1fr);
    }
    input[type="text"] {
        width: 70%;
    }
}

@media (max-width: 499px) {
    .results {
        grid-template-columns: 1fr;
    }
}

mat-paginator {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

input[type="text"] {
    width: 250px;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

.results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    height: 80%;
    width: 60%;
}

mat-paginator {
    height: 10%;
    display: flex;
    justify-content: center;
}

.search-div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10%;
}

.list-housing {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
