<section class="auth-container">
    <div class="auth-card">
        <h2 class="auth-title">Create an Account</h2>
        <p class="auth-subtitle">Join DreamHomes today</p>

        <div class="auth-form">
            <label>Email</label>
            <input
                [(ngModel)]="email"
                placeholder="Enter your email"
                type="email"
            />

            <label>Password</label>
            <input
                [(ngModel)]="password"
                placeholder="Enter your password"
                type="password"
            />

            <button class="auth-btn" (click)="register()">Register</button>

            @if(error) {
            <p class="error">{{ error }}</p>
            }
        </div>

        <p class="auth-footer">
            Already have an account?
            <a routerLink="/login">Login here</a>
        </p>
    </div>
</section>
